:root {
    --tan:#c66900; 
    --offWhite:#ffffe5;
    --cloud:#e1f5fe;
}

body {
    font-family: 'Poppins', sans-serif;
}

.topnav {
    background-color: var(--tan);
    overflow: hidden;
    text-decoration: none;
    justify-items: flex-start;
    transition: 0.3s;
    
}

.header { 
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: auto;
    margin: auto;
}

/* #logo {
    width: 100px;
    display: inline-block;
    margin: 15px;
    height: 150px;
    width: auto;
} */

.centered {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -170%);
}


.search {
    display: flexbox;
    /* display: list-item;
    list-style: none; */
    align-items: center;
    content: space-evenly;
}

.topnav a {
    display: flexbox;
    float: right;
    color: #e1f5fe;
    text-align: center;
    padding: 14px 12px;
    display: block;
    margin: 0%;
}

.topnav a:hover {
    color: black;
    background-color: var(--cloud);
}

.container {
    display: flex;
    display: list-item;
    margin: 60px auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60vw;
    background-color: #f0ead6;
    padding: 20px;
    justify-content: center;
    text-align: center;

}

.search ul li {
    display: list-item;
    list-style: square;
}

.items {
    list-style: none;
    display: inline-flexbox;
}

form {
    color: black;
}
.login {
    display: flexbox;
    height: 50%;
    width: 50%;
    justify-content: center;
    display: list-item;
 
    background-color: var(--offWhite);
    color: var(--tan);
}

#logo {
    position: relative;
    top: 20%;
    left: 45%; 
}

#username,
#password {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 20px;
    box-sizing: border-box;
    font-size: 18px;
}

#login {
    width: 20%
    
}