<div class="card">
    <h3 class="card-header item-names">Add Item</h3>
    <form class="card-body new-item-form" id="new-item-form">

        <div class="itemFieldsWrap">
            <div class="itemFields">
                <label for="item-name" class="form-label">Item Name:</label>
                <input type="text" id="item-name" name="item-name" class="form-input" required="required">
            </div>

            <div class="itemFields">
                <label class="form-label" for="material">Material:</label>
                <input id="material" name="material" class="form-input" required="required">
            </div>

            <div class="itemFields">
                <label class="form-label" for="color">Colour:</label>
                <input id="color" name="color" class="form-input" required="required">
            </div>


            <div class="itemFields">
                <label class="form-label" for="price">Price:</label>
                <input id="price" name="price" class="form-input" required="required">
            </div>

        </div>

        <div class="itemSubmit">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>

    </form>
</div>

<script src="/js/add-item.js"></script>
