<div class="item-search">
    <h5>Find items</h5>
    <input type="text" id="itemfilter" onkeyup="searchFunction()" placeholder="Search names..">
</div>

<article class="items">

    {{#each items as |item|}}
    {{> item-info item}}
    {{/each}}

</article>
