<div id="itemUL" class="card">
    {{#each items as |item|}}
    <div class="card-header">
        <h4 class="item-names">{{item.name}}</h4>
    </div>

    <div class="item-attributes">
        <ul>
            <li>Material: {{item.material}}</li>
            <li>Color: {{item.color}}</li>
            <li>Price: ${{item.price}}</li>
        </ul>
    </div>
    {{/each}}
</div>
<form>
    <button type="submit" class="btn btn-primary">Edit</button>
    <button type="submit" id="deleteButton" class="btn btn-primary">Delete</button>
</form>