<div class="search container search">
    <form action="_self">
        <label class="search" for="key word">Search item</label>
        <input type="text">
        <label for="colour">choose a colour</label>
        <select id="colors" name="colour">
            <option value="Blue">Blue</option>
            <option value="Green">Green</option>
            <option value="Brown">Brown</option>
            <option value="Yellow">Yellow</option>
            <option value="White">White</option>
            <option value="Black">Black</option>
            <input type="checkbox">
            <label for="material">choose a material</label>
            <select id="materials" name="material">
                <option value="wool">Wool</option>
                <option value="silk">Silk</option>
                <option value="cotton">Cotton</option>
                <option value="cashmere">Cashmere</option>
                <option value="polyester">Polyester</option>
                <option value="Mixed"></option>
                <label for="colour">choose a </label>
                <select id="colors" name="colour">
                    <option value="sneakers">sneakers</option>
                    <option value="sandles">Sandles</option>
                    <option value="heels">Heels</option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <label for="colour">choose a colour</label>
                    <select id="colors" name="colour">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <label for="colour">choose a colour</label>
                        <select id="colors" name="colour">
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <input type="submit">
        </select>
    </form>

</div>