<div class="formwrap">
  <div class="logoform"><img src="/images/logo.png"></div>

  <div class="logoBtns">
    <h2 style="color:#333;background:#c56901;text-decoration:underline;"><a class="login-link" href="/login">Login</a>
    </h2>
    <h2 style="color:#333;background:#f2f2f2;box-shadow: 0px 0px 20px #ccc inset;"><a class="login-link"
        href="/signup">Sign up</a>
    </h2>
  </div>

  <form class="form login-form">
    <div class="form-group">
      <label for="user-login">Username:</label>
      <input class="form-input" type="text" id="user-login" />
    </div>

    <div class="form-group">
      <label for="password-login">Password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit">login</button>
    </div>

  </form>
</div>

<script src="/js/login.js"></script>

