:root {
    --tan:#c66900; 
    --hover:#b66100;
    --White:#fff;
    --lightGrey:#f3f3f3;
    --darkGrey:#333;
    --Black:#171717;
    --offWhite:#ffffe5;
    --cloud:#e1f5fe;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--darkGrey);
    font-weight: 300;
}

header {
    box-shadow: 0px 0px 10px #eaeaea;
    position: fixed;
    width: 100%;
    background: rgba(255,255,255,0.97);
    z-index: 99;
}

.logo {
    height: 90px;
}
.logo img {
    max-width: 100px;
}
.logoBtns {
    margin-top: 60px;
    position: relative;
    float: left;
    width: 100%;
}

.logoform {
    position: absolute;
    top: 60px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
nav button {
    background:none;
}
nav button:hover {
    background:none;
    text-decoration: underline;
    cursor: pointer;
}
.btn:hover {
    background: none;
    color: #000;
}

nav ul {
    list-style: none;
    width: 100%;
    display: flex;
    margin: 0;
}

nav ul a {
    padding: 10px;
    color: var(--darkGrey);
    cursor: pointer;
}

nav ul a:hover {
    color: var(--tan);
    text-decoration: underline;
}

a:active {
    color: var(--tan);
    text-decoration: underline;
}

.active a{
    color: var(--tan);
    text-decoration: underline;
}

/* Phone menu styles */
#navButton {
    display: none;
    position: fixed;
    right: 10px;
    z-index: 999;
    width: 30px;
    height: 40px;
}

/* Hamburger Icon */
#nav-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 10px auto 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .9s ease-in-out;
    -moz-transition: .9s ease-in-out;
    -o-transition: .9s ease-in-out;
    transition: .9s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--Black);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
#nav-icon span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
    top: 10px;
  }
  
  #nav-icon span:nth-child(4) {
    top: 20px;
  }
  
  #nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
/* slide out menu */
#slide_menu {
    display: none;
    z-index: 99;
    width: 100%;
    height: 100vh;
    background: var(--tan);
    color: var(--white);
    position: fixed;
    right: -100%;
    top: 0;
    transition: .3s ease-in-out;
}

#slide_menu ul {
    display: block;
    margin: 150px auto;
    padding: 0px;
    width: 60%;
}

#slide_menu li {
    padding: 10px 10px;
    color: #000;
    border-bottom: solid 1px #a05600;
    margin: 0 0px 20px 0;
    text-align: center;
    display: block;
    width: 100%;
    letter-spacing: .5px;

    font-weight: 100;
    font-size: 30px;

}
#slide_menu a {
    color: var(--white);
}

#slide_menu a:hover {
    color: var(--dark-grey);

}

.container {
    display: block;
    margin: 0px auto;
    padding: 160px 20px 20px;
}


/* login form styles */
.formwrap {
    max-width: 550px;
    margin: 0px auto;
    padding: 40px;
    box-shadow: 0 0px 10px 0 rgba(157, 157, 157, 0.2);
}

.formwrap h2 {
    width: 50%;
    float: left;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    padding: 20px;
}

.formwrap h2 a {
    color: #000;
    width: 100%;
    display: block;
}
.formwrap h2:target {
    background: #ccc;
    text-decoration: underline;
}
.formwrap h2:hover {
    background: #ccc;
    text-decoration: underline;
}

/* add-item form styles */
.itemFieldsWrap {
    display: flex;
}
.itemFields {
    float: left;
    position: relative;
    margin-right: 20px;
    max-width: 272px;
    width: 100%;
}

.itemFields:last-of-type {
    width: 100%;
    position: relative;
    float: left;
    margin-right: 0;
}

.itemFields .form-label {
    font-size: 16px;
}

.itemSubmit {
    margin: 10px 0;
}

/* Category Styles */

.flexWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.catIcons {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.catIcons img {
    max-width: 270px;
}

/* category page */
.image {
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 5px;

}

.category-name {
    text-align: center; 
    margin-bottom: 30px;
    padding: 10px; 

}

.category-name:hover {
   color: #c66900
}

#category-path {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    width: 100%;
}

.catIcons {
    display: flex;
    flex-direction: column;
    margin: 10px;   
}


/* items home styles */
.item-search {
    margin-bottom: 20px;
}

#itemfilter {
    padding: 10px 5px;
    border: solid 1px #ccc;
}
.card {
    width: 100%;
}
.card .card-header {
    display: flex;
    width: 100%;
    color: var(--White);
}

.item-names {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    margin: 0;
    font-size: 18px;
    color: var(--White);
    font-weight: 300;
}

.itemLink {
    color: #fff;
}
.itemLink:hover {
    color: var(--Black);
}

.deleteBtn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.item-attributes {
    margin: 0;
    padding: 0px 0;
}

.item-attributes ul {
    margin: 0;
    padding: 0px;
}

.item-attributes li {
    list-style: none;
    padding: 10px;
}

.item-attributes li:nth-child(even) {
    background: var(--lightGrey);

}

.item-attributes li a {
color: var(--darkGrey);

}


  /* mobile and smaller screens */
  @media (max-width: 576px) {
    #navButton {
    display: block;
    }

    #slide_menu {
    display: block;
    }

    nav ul {
    display: none;
    }

    .container.container-fluid {
        width: 100%;
    }


    .itemFieldsWrap {
        display: block;
    }


    .itemFields {
        margin-right: 0px;
        max-width: 100%;
    }

    .catIcons {
        flex: 0 0 35%;

    
    }
  }

    /* category page */
.image {
    border-radius: 50%;
    width: 260px;
    height: 260px;
    margin-bottom: 10px;
    margin-top: 5px;

}

.category-name {
    text-align: center; 
    margin-bottom: 30px;
    padding: 10px; 

}

.category-name:hover {
   color: #c66900
}

#category-path {
    flex: 1; 
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: center;
    flex-direction: column;
}
