:root {
    --tan:#c66900; 
    --hover:#b66100;
    --White:#fff;
    --lightGrey:#eeeeee;
    --darkGrey:#333;
    --Black:#171717;
    --offWhite:#ffffe5;
    --cloud:#e1f5fe;
    
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--darkGrey);
    font-weight: 300;
}
header {
    box-shadow: 0px 0px 10px #eaeaea;
}
.logo {
    height: 100px;
}
.logo img {
    max-width: 120px;
}
.logoBtns {
    margin-top: 60px;
    position: relative;
    float: left;
    width: 100%;
}

.logoform {
    position: absolute;
    top: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
nav button {
    background:none;
}
nav button:hover {
    background:none;
    text-decoration: underline;
    cursor: pointer;
}
.btn:hover {
    background: none;
}
.formwrap h2 {
    width: 50%;
    float: left;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    padding: 20px;
}
.formwrap h2 a {
    color: #000;
    width: 100%;
    display: block;
}
.formwrap h2:target {
    background: #ccc;
    text-decoration: underline;
}
.formwrap h2:hover {
    background: #ccc;
    text-decoration: underline;
}
.search {
    display: flexbox;
    display: list-item;
    list-style: none;
    align-items: center;
}
.topnav a {
    display: flexbox;
    float: right;
    color: #e1f5fe;
    text-align: center;
    padding: 14px 12px;
    display: block;
}

.topnav a:hover {
    color: black;
    background-color: var(--cloud);
}

.container {
    display: block;
    margin: 60px auto;
    padding: 20px;
}


.item-search {
    margin-bottom: 20px;
}

#itemfilter {
    padding: 10px 5px;
    border: solid 1px #ccc;
}


.card .card-header {
    display: flex;
    width: 100%;
}

.item-names {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    margin: 0;
    font-size: 20px;
    color: var(--White);
    font-weight: 300;
}

.deleteBtn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.item-attributes {
    margin: 0;
    padding: 0px 0;
}

.item-attributes ul {
    margin: 0;
    padding: 0px;
}

.item-attributes li {
    list-style: none;
    padding: 10px;
}


.item-attributes li:nth-child(even) {
    background: var(--lightGrey);

}

.item-attributes li a {
color: var(--darkGrey);

}
.item-attributes li a:hover {

    
}

.formwrap {
    max-width: 550px;
    margin: 40px auto;
    padding: 40px;
    box-shadow: 0 0px 10px 0 rgba(157, 157, 157, 0.2);
}
