:root {
    --tan:#c66900; 
    --hover:#b66100;
    --White:#fff;
    --lightGrey:#f3f3f3;
    --darkGrey:#333;
    --Black:#171717;
    --offWhite:#ffffe5;
    --cloud:#e1f5fe;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--darkGrey);
    font-weight: 300;
}

header {
    box-shadow: 0px 0px 10px #eaeaea;
    position: fixed;
    width: 100%;
    background: rgba(255,255,255,0.85);
    z-index: 99;
}

.logo {
    height: 90px;
}
.logo img {
    max-width: 100px;
}

.logoBtns {
    margin-top: 60px;
    position: relative;
    float: left;
    width: 100%;
}

.logoform {
    position: absolute;
    top: 60px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
nav button {
    background:none;
}
nav button:hover {
    background:none;
    text-decoration: underline;
    cursor: pointer;
}
.btn:hover {
    background: none;
    color: #000;
}

nav ul {
    list-style: none;
    width: 100%;
    display: flex;
    margin: 0;
}

nav li {
    float: left;
    display: flex;
    align-items: center;
}

nav li .btn {
    padding: 10px;
}


.container {
    display: block;
    margin: 0px auto;
    padding: 160px 20px 20px;
}


/* login form styles */
.formwrap {
    max-width: 550px;
    margin: 0px auto;
    padding: 40px;
    box-shadow: 0 0px 10px 0 rgba(157, 157, 157, 0.2);
}

.formwrap h2 {
    width: 50%;
    float: left;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    padding: 20px;
}

.formwrap h2 a {
    color: #000;
    width: 100%;
    display: block;
}
.formwrap h2:target {
    background: #ccc;
    text-decoration: underline;
}
.formwrap h2:hover {
    background: #ccc;
    text-decoration: underline;
}

/* add-item form styles */
.itemFieldsWrap {
    display: flex;
}
.itemFields {
    float: left;
    position: relative;
    margin-right: 20px;
    max-width: 272px;
    width: 100%;
}

.itemFields:last-of-type {
    width: 100%;
    position: relative;
    float: left;
    margin-right: 0;
}

.itemFields .form-label {
    font-size: 16px;

}

.itemSubmit {
    margin: 10px 0;
}

/* Category Styles */

.flexWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.catIcons {
    flex: 0 0 50%;
    display: flex;
    max-width: 300px;
}

.catIcons img {
    width: 100%;
}


/* items home styles */
.item-search {
    margin-bottom: 20px;
}

#itemfilter {
    padding: 10px 5px;
    border: solid 1px #ccc;
}


.card .card-header {
    display: flex;
    width: 100%;
}

.item-names {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    margin: 0;
    font-size: 20px;
    color: var(--White);
    font-weight: 300;
}

.deleteBtn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.item-attributes {
    margin: 0;
    padding: 0px 0;
}

.item-attributes ul {
    margin: 0;
    padding: 0px;
}

.item-attributes li {
    list-style: none;
    padding: 10px;
}

.item-attributes li:nth-child(even) {
    background: var(--lightGrey);

}

.item-attributes li a {
color: var(--darkGrey);

}


  /* mobile and smaller screens */
  @media (max-width: 576px) {

    .container.container-fluid {
        width: 100%;
    }


    .itemFieldsWrap {
        display: block;
    }


    .itemFields {
        margin-right: 0px;
        max-width: 100%;
    }
}
